<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/amount.css">
    <title>Deposit</title>
</head>
<body>
    <div class="amount-container">
        <form action="/deposit" method="POST">
            <label for="account"> Deposit Amount:</label>
            <input type="text" name="amount" id="account" placeholder="Enter Deposit Amount"><br/><br/>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>