<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div class="button-container">
        <h1 class="Heading">Welcome To <span class="Company">SBI ATM</span></h1>
        <a href="{{url_for('Create_Account')}}"><button type="Submit">Create Account</button></a>
        <a href="{{url_for('Login')}}"><button type="Submit">Login Account</button></a>
        <a href=""><button type="Submit">User Update</button></a>
    </div>
</body>
</html>