<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/statements.css">
  <title>Transaction Statement</title>
</head>
<body>
  <h2>Deposit Statements</h2>
  <table>
    <thead>
      <tr>
        <th>Deposit Amount</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      {% for i in deposit_statements %}
      <tr>
        <td class="deposit">${{i[0]}}</td>
        <td>{{i[1]}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2>Withdraw Statements</h2>
  <table>
    <thead>
      <tr>
        <th>Withdraw Amount</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      {% for i in withdraw_statements %}
      <tr>
        <td class="withdraw">${{i[0]}}</td>
        <td>{{i[1]}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>